*{
    padding:0 ;
    margin: 0;
    font-size: arial;

}
h1{
    text-align: center;
    line-height: 25px;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 10px;
    
}
.p1{
    text-align: center;

    line-height: 35px;
    font-size: 20px;
    
}

.p2{
    text-align: center;
    margin-top: 30px;
    font-size: 26px;
  
    font-weight: bod;
}
.subscribe{
    margin: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}
.subscribe:hover{
    background-color: darkred;
    box-shadow: 4px 0px 5px darkred;
}
.subscribe:active{
    background-color: rgb(212, 18, 18);
}
.like{
    color: white;
    background-color: rgb(56, 131, 161);
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
.like:hover{
    background-color:rgb(10, 176, 241) ;
    box-shadow: 4px 0px 5px #6a7e86;
}
.like:active{
    background-color:rgb(3, 182, 253) ;
}
.share{
    background-color: orange;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 7px;
    margin: 10px;
    cursor: pointer;
}
.share:hover{
    background-color: darkorange;
    box-shadow: 4px 0px 5px rgb(247, 155, 43);
}
.share:active{
    background-color:orangered ;
}
.notification{
    padding: 10px;
    border: none;
    background-color: tomato;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.notification:hover{
    background-color: rgb(243, 45, 9);
    box-shadow: 4px 0px 5px darkred;
}
.notification:active{
    background-color: rgb(255, 42, 5);
}
.buttons{
    align-items: center;
    text-align: center;
    margin-top: 30px;
}